body {
    font-family: 'Times New Roman', serif;
    background-color: #d76d9d;
    margin: 10px;
    padding: 10px;
    color: #e78ee8;
    font-size: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
    align-items: stretch;
}

.links a {
    text-decoration: none;
    color: rgb(117, 61, 120);
    background-color: #eb94d7;
    padding: 12px 20px;
    border-radius: 8px;
    transition: color 0.2s ease;
    font-size: 22px;
    text-align: center;
    display: block;
}

.links a:hover {
    color: white;
}

.bgred {
    background-color: #ffc1ff;
    padding: 30px;
    border-radius: 12px;
    text-align: left;
    color: rgb(237, 170, 240);
    font-weight: bold;
    margin-top: 30px;
}